*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#e9caca;
    display:flex;
    height:100vh;
}

.container{
    width:1000px;
    display:flex;
    margin-left:150px;
    margin-top:100px;
}

/* SLIDER */
.slider{
    position:relative;
    width:400px;
    height:500px;
}

/* CARD */
.card{
    position:absolute;
    width:100%;
    height:250px;
    border-radius:20px;
    overflow:hidden;
    transition:0.5s;
}

img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: block;
    margin: auto;
}

/* STACK EFFECT */
.card:nth-child(1){
    top:0;
    left:0;
    z-index:5;
}

.card:nth-child(2){
    top:-60px;
    left:30px;
    z-index:4;
    transform:scale(0.9);
    opacity:0.7;
}

.card:nth-child(3){
    top:-120px;
    left:50px;
    z-index:3;
    transform:scale(0.8);
    opacity:0.5;
}

.card:nth-child(4){
    top:60px;
    left:30px;
    z-index:2;
    transform:scale(0.9);
    opacity:0.7;
}

.card:nth-child(5){
    top:120px;
    left:50px;
    z-index:1;
    transform:scale(0.8);
    opacity:0.5;
}

/* HOVER EFFECT */
.slider:hover .card{
    filter:grayscale(100%);
}

.slider .card:hover{
    filter:grayscale(0%);
    transform:scale(1.05);
    z-index:10;
}

/* CONTENT */
.content{
    margin-left:200px;
    text-align:center;
}

.content h1{
    color:#1d3ea8;
    font-size:40px;
    margin-top:20px;
}

.content p{
    color:gray;
    letter-spacing:2px;
}

/* BUTTON */
button{
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    background:#2d5bff;
    color:white;
    font-size:18px;
    margin:10px;
    cursor:pointer;
}

/* DOTS */
.dots{
    margin-top:20px;
}

.dot{
    width:10px;
    height:10px;
    background:#ccc;
    display:inline-block;
    border-radius:50%;
    margin:5px;
}

.activeDot{
    background:#1d3ea8;
}

/* TITLE LINE */
.title{
    position:relative;
    display:inline-block;
}

.title::before,
.title::after{
    content:"";
    position:absolute;
    width:100px;
    height:3px;
    background:#163ea5;
    top:50%;
}

.title::before{
    left:-120px;
}

.title::after{
    right:-120px;
}